<%- include('_header')%>

<div class="container">
  <div class="main-heading">
    <h3>People Who are using this App</h3>
  </div>
  <div class="users">
    <% for (user of users) {%>
    <div class="user-box">
      <div class="cover-img"></div>
      <div class="profile-img">
        <img src="<%= user.avatar%>" alt="profile pic" />
      </div>
      <div class="username"><%= user.name%></div>
      <div class="connect-button">
        <form action="/user/send-friend-request" method="POST">
          <input
            type="text"
            name="senderId"
            value="<%= currentUser._id %>"
            hidden
          />
          <input type="text" name="receiverId" value="<%=user._id%>" hidden />
          <% if(currentUser.friendRequestsSent.includes(user._id)) { %>
          <button type="submit" class="btn btn-logout" disabled>
            <span class="material-symbols-outlined"> person_add </span>Pending
          </button>
          <%} else {%>
          <button type="submit" class="btn btn-tranaparent">
            <span class="material-symbols-outlined"> person_add </span>Connect
          </button>
          <% } %>
        </form>
      </div>
      <div class="cross">
        <span class="material-symbols-outlined"> close </span>
      </div>
    </div>
    <%}%>
  </div>
</div>
